objs
nv-simulation.bin
host_*
bbb_*
klockwork_*
*.VC.db
*_log.txt
*-log.txt
#---------------------
# DONOT add: *.pb-c.c
# DONOT add: *.pb-c.h
# 
# Windows does not have the PROTOC compiler.
#------

cllc.h
cllc.c
csf.h
llc.h
mac_util.h
mac_util.c
oad_image_header.h
oad_protocol.h
oad_protocol.c
oad_storage.h
smsgs.h
ti_154stack_features.h
